# Email Configuration
EMAIL_SERVICE=gmail
EMAIL_USER=cena123454@gmail.com
EMAIL_PASSWORD=Cybersecurity1!

# Recipient Email (where form submissions will be sent)
RECIPIENT_EMAIL=rvaladez2134@gmail.com

# Server Port
PORT=3001

